[Unit]
Description=Proyecto __PROJECT__
After=__PROJECT__.network
Wants=__PROJECT__-backend.service __PROJECT__-frontend.service __PROJECT__-postgres.service __PROJECT__-traefik.service __PROJECT__-keycloak.service

[Install]
WantedBy=default.target
